/* START GLOBAL */
body {
  background-color: #F1F0EC;
}
nav {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 0.1em;
}
a {
  text-decoration: none;
  color: #000;
}
h1{
  display: block;
  text-align: center;
  font-size: 200%;
  font-family: Roboto;
  font-style: bold;
  letter-spacing: 0.1em;
  color: #000;
}
h2{
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 14px;
  letter-spacing: 0.1em;
  color: #000;
}
p {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.1em;
  color: #585755;
}
li {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.1em;
  color: #585755;
}
/* END GLOBAL */

/* START NAVIGATION */
.navigation{
  display: flex;
}
.logo{
  padding-top: 35px;
  padding-left: 150px;
  height: 50px;
}
.topnav{
  visibility: hidden;
}
.navigation-links{
  display: flex;
  margin-left: auto;
  padding-top: 50px;
  padding-right: 150px;
}
.nav-item{
  padding-right: 50px;
}
.nav-item:hover {
  color: #5C5C5C;
  text-decoration: underline;
  transition: all 0.3 ease;
}
/* END NAVIGATION */

/* START TEXT SCROLL FEATURE */
.container {
   width: 100%;
   height: 50px;
   position: fixed;
   top: 50%;
   left: 50%;
   margin-left: -25%;
   margin-top: -25px;
}
.scroller {
   height: 50px;
   line-height: 50px;
   float: left;
   margin-left: 5px;
   overflow: hidden;
}
.scroller span {
   display: block;
   text-align: left;
   font-size: 200%;
   font-family: Roboto;
   font-style: bold;
   letter-spacing: 0.1em;
   color: #000;
}
.scroller .inner {
   -webkit-animation: scroll 10s 1 ease-out;
   -moz-animation: scroll 10s 1 ease-out;
   animation: scroll 10s 1 ease-out;
   -webkit-animation-fill-mode: forwards;
   -moz-animation-fill-mode: forwards;
   animation-fill-mode: forwards;
}
.blue {
   -webkit-animation: color 0.25s 1 linear;
   -moz-animation: color 0.25s 1 linear;
   animation: color 0.25s 1 linear;

      -webkit-animation-delay: 8s;
   -moz-animation-delay: 8s;
   animation-delay: 8s;

      -webkit-animation-fill-mode: forwards;
   -moz-animation-fill-mode: forwards;
   animation-fill-mode: forwards;

}
.blueb {
   -webkit-animation: color 0.25s 1 linear;
   -moz-animation: color 0.25s 1 linear;
   animation: color 0.25s 1 linear;

         -webkit-animation-delay: 8.25s;
   -moz-animation-delay: 8.25s;
   animation-delay: 8.25s;

      -webkit-animation-fill-mode: forwards;
   -moz-animation-fill-mode: forwards;
   animation-fill-mode: forwards;
}
@-webkit-keyframes color {
   0%  {color: #000;}
   100% {color: #2c90c6;}
}
@-moz-keyframes color {
   0%  {color: #000;}
   100% {color: #2c90c6;}
}
@keyframes color {
   0%  {color: #000;}
   100% {color: #2c90c6;}
}
@-webkit-keyframes scroll {
   11%  {margin-top: 0px;}
   22%  {margin-top: 0px;}
   33%  {margin-top: -50px;}
   44%  {margin-top: -50px;}
   55%  {margin-top: -100px;}
   66%  {margin-top: -100px;}
   77%  {margin-top: -150px;}
   88%  {margin-top: -150px;}
   100% {margin-top: -150px;}
}
@-moz-keyframes scroll {
   11%  {margin-top: 0px;}
   22%  {margin-top: 0px;}
   33%  {margin-top: -50px;}
   44%  {margin-top: -50px;}
   55%  {margin-top: -100px;}
   66%  {margin-top: -100px;}
   77%  {margin-top: -150px;}
   88%  {margin-top: -150px;}
   100% {margin-top: -150px;}
}
@keyframes scroll {
   11%  {margin-top: 0px;}
   22%  {margin-top: 0px;}
   33%  {margin-top: -50px;}
   44%  {margin-top: -50px;}
   55%  {margin-top: -100px;}
   66%  {margin-top: -100px;}
   77%  {margin-top: -150px;}
   88%  {margin-top: -150px;}
   100% {margin-top: -150px;}
}
/* END TEXT SCROLL FEATURE */

/* START ABOUT APPLICATION */
.about{
  display: inline-block;
  text-align: center;
}
.about-app{
  padding-top: 200px;
  display: inline-block;
  justify-content: center;
}
#iphone-mockups{
  display: block;
  margin-top: -100px;
  margin-left: auto;
  margin-right: 150px;
  padding-bottom: 50px;
  width: 50%;
}
.appicons{
  display: inline-block;
  justify-content: center;
  padding-right: 30px;
}
#appstore {
  height: 50px;
}
#playstore {
  height: 50px;
}
/* END ABOUT APPLICATION */

/* START FEATURE SECTION */
.flexcontainer{
  display: inline-block;
  padding:10px;
}
#featureh1{
  margin-top: 100px;
}
.feature-item{
  display: flex;
  align-items: center;
  justify-content: center;
}
.feature-copy{
  display: inline-block;
  justify-content: center;
}
#feature-copy-01{
  margin-left: 350px;
}
#feature-copy-02{
  margin-right: 350px;
}
#feature-copy-03{
  margin-left: 350px;
}
.image-gallery {
  display: flex;
  justify-content: center;
}
.image-item {
  padding-top: 75px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;

}
/* END FEATURE SECTION */

/* START FAQ SECTION */
.FAQ{
  padding-top: 150px;
  padding-left: 500px;
  padding-right: 500px;
}
.faq-header{
  font-size: 42px;
  border-bottom: 1px dotted #ccc;
  padding: 24px;
}
.faq-content {
  margin: 0 auto;
}
.faq-question {
  padding: 20px 0;
  border-bottom: 1px dotted #ccc;
}
.panel-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  letter-spacing: 0.1em;
  color: #000;
  width: 100%;
  position: relative;
  margin: 0;
  padding: 10px 10px 0 48px;
  display: block;
  cursor: pointer;
}
.panel-content {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.1em;
  color: #585755;
  padding: 0px 14px;
  margin: 0 40px;
  height: 0;
  overflow: hidden;
  z-index: -1;
  position: relative;
  opacity: 0;
  -webkit-transition: .4s ease;
  -moz-transition: .4s ease;
  -o-transition: .4s ease;
  transition: .4s ease;
}
.panel:checked ~ .panel-content{
  height: auto;
  opacity: 1;
  padding: 14px;
}
.plus {
  position: absolute;
  margin-left: 20px;
  margin-top: 4px;
  z-index: 5;
  font-size: 42px;
  line-height: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-transition: .2s ease;
  -moz-transition: .2s ease;
  -o-transition: .2s ease;
  transition: .2s ease;
}
.panel:checked ~ .plus {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.panel {
  display: none;
}
.contact-us {
  display: block;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding-top: 200px;
}
/* END FAQ SECTION */

/* START MOBILE CSS */
@media only screen and (max-width: 600px) {

.logo {
  display: flex;
  justify-content: flex-start;
  padding: 1px;
  padding-top: 20px;
  margin-left: -125px;
}
.navigation-links {
  visibility: hidden;
}
.about{
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.container {
   width: 10%;
   height: 500px;
   position:absolute;
   top: 20%;
   left: 50%;
   margin-left: -25%;
   margin-top: -25px;
}
.scroller {
   height: 50px;
   line-height: 50px;
   float: left;
   margin-left: 5px;
   overflow: hidden;
}
.scroller span {
   display: block;
   text-align: center;
   font-size: 200%;
   font-family: Roboto;
   font-style: bold;
   letter-spacing: 0.1em;
   color: #000;
}
.about-app{
  padding-top: 200px;
  display: inline-block;
  justify-content: center;
}
#iphone-mockups{
  display: block;
  padding-top: 50px;
  margin-top: -100px;
  margin-left: auto;
  margin-right: 10px;
  padding-bottom: 50px;
  height: 100%;
  width: 100%;
}
.appicons{
  display: inline-block;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 30px;
}
#appstore {
  height: 100px;
}
#playstore {
  height: 95px;
}
.topnav {
  overflow: hidden;
  background-color: #333;
  padding-top: 20px;
  visibility: visible;
}
.topnav #myLinks {
  display: none;
}
.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}
.topnav a.icon {
  background: #F1F0EC;
  color: black;
  display: block;
  position: absolute;
  right: 15px;
  top: 25px;
}
.topnav a:hover {
  background-color: #000;
  color: black;
}
.active {
  background-color: #000;
  color: white;
}
.feature-mockups {
 visibility: hidden;
}
.feature-item{
display: inline-block;
}
.feature-copy{
  justify-content: center;
  width: 30%;
}
#feature-copy-01{
  padding: 20px;
}
#feature-copy-02{
  padding:20px;
}
#feature-copy-03{
  padding: 20px;
}
.FAQ{
  padding-top: 100px;
  padding-left: 5px;
  padding-right: 30px;
}
.contact-us {
  padding-top: 75px;
  padding-bottom: 50px;
}
/* END MOBILE CSS */
